#!/bin/bash 
# CMK notification spooler daemon <%= item.site %>
# chkconfig: 345 20 80
# description: CMK notification spooler
# processname: /usr/bin/python

OMD_SITE="<%= item.site %>"
NAME="cmk_spooler_daemon_${OMD_SITE}"

# Load config
[ -f "${HOME}/etc/sysconfig/${NAME}" ] && . "${HOME}/etc/sysconfig/${NAME}"

SPOOLER="/omd/sites/${OMD_SITE}/local/share/doc/check_mk/custom_bsm_integration/notification_spooler.py"
DAEMON="/usr/bin/python ${SPOOLER}"

DESC="Spooler daemon for ${OMD_SITE} site"
PIDFILE=${HOME}/tmp/run/${NAME}.pid
SCRIPTNAME=${HOME}/etc/init.d/${NAME}

case "$1" in
start)
        printf "%-50s" "Starting ${NAME}..."
        PID=$(${DAEMON} > /dev/null 2>&1 & echo ${!})
        if [ -z "${PID}" ]; then
            printf "%s\n" "Fail"
        else
            echo "${PID}" > "${PIDFILE}"
            printf "%s\n" "Ok"
        fi
;;
status)
        printf "%-50s" "Checking ${NAME}..."
        if [ -f "${PIDFILE}" ]; then
            PID=$(cat "${PIDFILE}")
            if [ -z "$(ps axf | grep "${PID}" | grep -v grep)" ]; then
                printf "%s\n" "Process dead but pidfile exists"
                exit 1
            fi

            echo "Running"
            exit 0
        fi

        printf "%s\n" "Service not running"
        exit 1
;;
stop)
        printf "%-50s" "Stopping ${NAME}"
            PID=$(cat "${PIDFILE}")
        if [ -f "${PIDFILE}" ]; then
            kill -15 "${PID}"
            printf "%s\n" "Ok"
            rm -f "${PIDFILE}"
        else
            printf "%s\n" "pidfile not found"
        fi
;;

restart)
    ${0} stop
    ${0} start
;;

*)
        echo "Usage: ${0} {status|start|stop|restart}"
        exit 1
esac
