#!/bin/env bash

SOURCEDIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

# Message Sender configuration
export NOTIFICATIONS_NAME="{{ item.name }}"
export NOTIFICATIONS_SERVER="{{ item.server }}"
export NOTIFICATIONS_SENTDIR="/opt/splunk/var/spool/notification_sender/${NOTIFICATIONS_NAME}/sent"
export NOTIFICATIONS_ERRORDIR="/opt/splunk/var/spool/notification_sender/${NOTIFICATIONS_NAME}/error"
export NOTIFICATIONS_TOKEN="{{ item.token }}"
export NOTIFICATIONS_LOG="/opt/splunk/var/log/notification_sender/SplunkNotificationSender_${NOTIFICATIONS_NAME}.log"
export NOTIFICATIONS_LOG_LEVEL="INFO"
export NOTIFICATIONS_ENV="{{ item.env }}"

# Setup the correct python environment
PYTHONPATH=/usr/lib64/python2.6/site-packages
PYTHONBIN=/usr/bin/python2

export PYTHONPATH

# Message Sender invocation
for RESEND in ${NOTIFICATIONS_ERRORDIR}/*gz; do 
    ${PYTHONBIN} ${SOURCEDIR}/notifications_sender.py "${RESEND}" "${NOTIFICATIONS_NAME}" "Resend Errors" "N/A"
    rm ${RESEND}
done
