#!/bin/env bash

SOURCEDIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

# Positional arguments parsing
COUNT="$1"
TERMS="$2"
QUERY="$3"
NAME="$4"
REASON="$5"
URL="$6"
TAGS="$7"
RESULTS="$8"

# Message Sender configuration
export NOTIFICATIONS_NAME="{{ item.name }}"
export NOTIFICATIONS_SERVER="{{ item.server }}"
export NOTIFICATIONS_SENTDIR="/opt/splunk/var/spool/notification_sender/${NOTIFICATIONS_NAME}/sent"
export NOTIFICATIONS_ERRORDIR="/opt/splunk/var/spool/notification_sender/${NOTIFICATIONS_NAME}/error"
export NOTIFICATIONS_TOKEN="{{ item.token }}"
export NOTIFICATIONS_LOG="/opt/splunk/var/log/notification_sender/SplunkNotificationSender_${NOTIFICATIONS_NAME}.log"
export NOTIFICATIONS_LOG_LEVEL="INFO"
export NOTIFICATIONS_ENV="{{ item.env }}"

# Setup the correct python environment
PYTHONPATH=/usr/lib64/python2.6/site-packages
PYTHONBIN=/usr/bin/python2

export PYTHONPATH

# Message Sender invocation
${PYTHONBIN} ${SOURCEDIR}/notifications_sender.py "${RESULTS}" "${NOTIFICATIONS_NAME}" "${REASON}" "${URL}"

